<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>

  <div class="container mt-5">

    <!-- Task Creation Form -->
    <div class="row mb-4">
      <div class="col-md-6">
        <h1>Todolist App</h1>
        <h4>Create New Task</h4>
        <form action="/tasks" method="post" th:object="${newTask}">
          <div class="form-group">
            <label for="task">Task</label>
            <input type="text" class="form-control" id="task" name="task" th:field="*{task}" required>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" th:field="*{description}" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Add Task</button>
        </form>
      </div>
    </div>

    <!-- Task List -->
    <div class="row">
      <div class="col-md-12">
        <h2>Task List</h2>

        <div class="form-group">
          <label for="statusFilter">Filter by Status:</label>
          <select id="statusFilter" class="form-control" onchange="applyStatusFilter(this.value)">
            <option value="">All</option>
            <option value="pending">Pending</option>
            <option value="in_progress">In Progress</option>
            <option value="concluded">Concluded</option>
          </select>
        </div>

        <!-- Task Table -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Task</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="task : ${page.content}">
              <td th:text="${task.id}"></td>
              <td th:text="${task.task}"></td>
              <td th:text="${task.status}"></td>
              <td>
                <!-- <a th:href="@{/tasks/{id}/edit(id=${task.id})}">Edit</a> -->
                <a th:href="@{/tasks/{id}(id=${task.id})}" th:object="${task}" method="post">Edit</a>
                <a th:href="@{/tasks/{id}/delete(id=${task.id})}" th:method="delete">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Pagination  -->
        <nav aria-label="Task navigation">
          <ul class="pagination">
            <li class="page-item" th:classappend="${page.currentPage == 1} ? 'disabled'">
              <a class="page-link" th:href="@{${page.getUrlForPage(1)}}">First</a>
            </li>
            <li class="page-item" th:classappend="${page.currentPage == 1} ? 'disabled'">
              <a class="page-link" th:href="@{${page.getUrlForPage(page.currentPage - 1)}}">Previous</a>
            </li>
            <li class="page-item" th:classappend="${page.currentPage == page.totalPages} ? 'disabled'">
              <a class="page-link" th:href="@{${page.getUrlForPage(page.currentPage + 1)}}">Next</a>
            </li>
            <li class="page-item" th:classappend="${page.currentPage == page.totalPages} ? 'disabled'">
              <a class="page-link" th:href="@{${page.getUrlForPage(page.totalPages)}}">Last</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <script>
    function applyStatusFilter(status) {
      var url = '/tasks';
      if (status) {
        url += '?status=' + status;
      }
      window.location.href = url;
    }
  </script>

</body>

</html>







