<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Todo List</h1>
        <form th:object="${newTask}" th:action="@{/api/v1/tasks}" method="post">
            <div class="form-group">
                <label for="taskInput">Task:</label>
                <input type="text" id="taskInput" class="form-control" th:field="*{task}" />
                <label for="taskInput">Description:</label>
                <input type="text" class="form-control" th:field="*{description}" />
            </div>
            <button type="submit" class="btn btn-primary">Add Task</button>
        </form>
        <br>
        <h2>All Tasks</h2>
        <div class="form-group">
            <label for="statusFilter">Filter by Status:</label>
            <select id="statusFilter" class="form-control" onchange="applyStatusFilter(this.value)">
                <option value="">All</option>
                <option value="pending">Pending</option>
                <option value="in_progress">In Progress</option>
                <option value="concluded">Concluded</option>
            </select>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Task</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.id}"></td>
                    <td th:text="${task.task}"></td>
                    <td th:text="${task.status}"></td>
                    <!-- <td>
                        <input type="checkbox" th:checked="${task.completed}" th:disabled="${task.completed}" />
                    </td> -->
                    <td>
                        <a th:href="@{/api/v1/tasks/{id}/edit(id=${task.id})}">Edit</a> |
                        <a th:href="@{/api/v1/tasks/{id}/delete(id=${task.id})}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        function applyStatusFilter(status) {
            const tableRows = document.querySelectorAll('tbody tr');
            tableRows.forEach(row => {
                const rowStatus = row.querySelector('td:nth-child(3)').textContent.trim();
                if (status === '' || rowStatus === status) {
                    row.style.display = 'table-row';
                } else {
                    row.style.display = 'none';
                }
            });
        }
    </script>
</body>
</html>